@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fafafa; */
  /* font-family: "Kumbh Sans", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus,
textarea,
input {
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.SwitchContainer {
  width: calc(100vw - 690px);
}

@media only screen and (max-width: 600px) {
  .SwitchContainer {
    /* width: 100vw; */
    margin-bottom: 55px;
  }
}
