.close_side_btn {
  display: none;
  margin: 8px 0px 20px auto;
}

.side_cover_img {
  margin-bottom: 20px;
  background-size: cover;
  width: inherit;
  color: white;
  height: 190px;
  display: flex;
  flex-direction: column;
}

.side_dp {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-top: auto;
  margin-left: 8px;
  margin-bottom: 6px;
}

.side_pro_link {
  color: white;
  text-decoration: none;
  background-color: #00000071;
  padding: 8px;
  width: fit-contents;
}

.sign_out_btn {
  background-color: red;
  color: white;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .close_side_btn {
    display: block;
  }
}
