.Messages {
  position: sticky;
  min-height: calc(100vh -55px);
  display: flex;
  flex-direction: column;
}

.msg_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 0.3px solid #c7c7c7;
}

.msg_item_container {
  background-color: white;
  padding: 12px;
  text-decoration: none;
  transition-duration: 0.5s;
  border-bottom: 0.3px solid #c7c7c7;
}

.msg_item_container_active {
  transition-duration: 0.5s;
  background-color: #f3f3f3;
}

@media only screen and (max-width: 600px) {
  .msg_section {
    width: 100vw;
    border: none;
    height: calc(100vh - 87px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
