.Notifications {
  min-height: calc(100vh - 55px);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .Notifications {
    width: 100vw;
  }
}
