.Search {
  min-height: calc(100vh - 55px);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.search_banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  margin-bottom: 1px;
}

.ig_img_sty {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: red;
}

.srh_cat_title {
  font-weight: bold;
  padding: 6px;
  border-bottom: 1px solid #e1e1e1;
  position: sticky;
  top: 55px;
  background-color: white;
}

.tren_4_u {
  font-weight: bold;
  padding: 8px;
  height: 55px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whats_hapenning {
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  .Search {
    min-height: calc(100vh - 55px);
    width: 100vw;
  }
}
