.Chats {
  min-height: calc(100vh - 55px);
  width: 100%;
}

.chat_section {
  overflow-y: auto;
  overflow-x: hidden;
}

.chat_bubble {
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 83%;
  border-radius: 12px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 6px;
  box-shadow: 0px 0px 4px 0px #aaa8a8;
  cursor: pointer;
}

.add_msg_container {
  display: flex;
  background-color: white;
  position: sticky;
  bottom: 0;
  height: 55px;
  align-items: center;
  padding: 5px;
  width: 100%;
  border-top: 0.5px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  z-index: 1300;
}

.message_input_field {
  border-radius: 30px;
  height: 40px;
  padding: 0 15px;
  flex: 1;
  margin: 0 12px;
  border: none;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
  .Chats {
    height: calc(100vh - 55px);
    width: 100vw;
  }
}
