.Feeds {
  min-height: 100vh;
  display: flex;
}

.main_feeds_container {
  width: 65%;
}

.search_bar_container {
  display: flex;
  position: sticky;
  align-items: center;
  top: 10px;
  background-color: white;
  margin-bottom: 40px;
  padding: 8px;
  z-index: 200;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: 0px 1px 3px 3px #e1e1e1;
}

.right_bar_container {
  width: 35%;
}

.new_feed_form_container {
  display: flex;
  flex-direction: column;
}

.new_feed_form_container input {
  height: 30px;
  border: 1px solid blueviolet;
  border-radius: 6;
  padding: 6px 12px;
}

textarea {
  margin-bottom: 12px;
  border-radius: 12px;
  border-color: #c5c5c5;
  padding: 10px;
}

.toggle_search {
  display: block;
}

.toggle_bars {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main_feeds_container {
    width: 100vw;
  }

  .right_bar_container {
    display: none;
  }

  .toggle_search {
    display: none;
  }

  .toggle_bars {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
