.right_bar_container {
  width: 400px;
  border-left: 0.5px solid #ebebeb;
}

.sm_info_container {
  background-color: #e1e1e1;
  border-radius: 20px;
  margin-bottom: 8px;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .right_bar_container {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
